In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("resources/vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R336DOKAV02XJJ,5.0,0.0,0.0,N,Y
1,RTUUT94ZU8CC7,4.0,0.0,0.0,N,Y
2,R13J8EG1T6CHAC,4.0,0.0,0.0,N,Y
3,R2A92APRIKL6PZ,5.0,0.0,0.0,N,N
4,R3I9KP5YDOS26G,5.0,1.0,1.0,N,Y
...,...,...,...,...,...,...
5101688,R3P0CYRCRU8RTK,5.0,0.0,0.0,N,Y
5101689,R2RD3BPCMTS780,5.0,1.0,2.0,N,Y
5101690,R1O0T1COXO8OWI,5.0,0.0,0.0,N,Y
5101691,R360J04FFF3A63,5.0,0.0,0.0,N,Y
5101692,R1W3VK8KJ1TZS1,5.0,0.0,0.0,N,Y

In [3]:
votes = vine_df[(vine_df["total_votes"] >= 20)]
votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
158,R1EZFPOICBVGEU,2.0,11.0,26.0,N,Y
240,RZLDV4LJO4CT5,1.0,7.0,21.0,N,N
507,R2SAIBRMYDLUEA,2.0,54.0,65.0,N,Y
595,R17GX06B4VIV2W,1.0,33.0,43.0,N,Y
894,RFUB2JHK7M5PH,3.0,23.0,23.0,N,N
...,...,...,...,...,...,...
5101225,R3BTSKF083SCTP,5.0,28.0,29.0,N,N
5101300,R32WQSO4BXXF3J,4.0,103.0,106.0,N,Y
5101358,R1WKBWEZY8ICYF,1.0,15.0,29.0,N,Y
5101366,R348JTVRPXDZ6X,1.0,357.0,396.0,N,N
5101553,R3PH2RHXBWQZX,2.0,17.0,21.0,N,Y

In [4]:
# get percent of helpful
votes["helpful_votes_percentage"] = (votes["helpful_votes"]) / (votes["total_votes"])* 100
votes

/Users/jessicaveilleux/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
158,R1EZFPOICBVGEU,2.0,11.0,26.0,N,Y,42.307692
240,RZLDV4LJO4CT5,1.0,7.0,21.0,N,N,33.333333
507,R2SAIBRMYDLUEA,2.0,54.0,65.0,N,Y,83.076923
595,R17GX06B4VIV2W,1.0,33.0,43.0,N,Y,76.744186
894,RFUB2JHK7M5PH,3.0,23.0,23.0,N,N,100.000000
...,...,...,...,...,...,...,...
5101225,R3BTSKF083SCTP,5.0,28.0,29.0,N,N,96.551724
5101300,R32WQSO4BXXF3J,4.0,103.0,106.0,N,Y,97.169811
5101358,R1WKBWEZY8ICYF,1.0,15.0,29.0,N,Y,51.724138
5101366,R348JTVRPXDZ6X,1.0,357.0,396.0,N,N,90.151515
5101553,R3PH2RHXBWQZX,2.0,17.0,21.0,N,Y,80.952381

In [5]:
# percents over 50%
over50_votes = votes[(votes["helpful_votes_percentage"] >= 50)]
over50_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
507,R2SAIBRMYDLUEA,2.0,54.0,65.0,N,Y,83.076923
595,R17GX06B4VIV2W,1.0,33.0,43.0,N,Y,76.744186
894,RFUB2JHK7M5PH,3.0,23.0,23.0,N,N,100.000000
906,R3NTRJCSRIDFTP,1.0,46.0,80.0,N,N,57.500000
916,R1T2ECILNEO28W,4.0,45.0,53.0,N,N,84.905660
...,...,...,...,...,...,...,...
5101225,R3BTSKF083SCTP,5.0,28.0,29.0,N,N,96.551724
5101300,R32WQSO4BXXF3J,4.0,103.0,106.0,N,Y,97.169811
5101358,R1WKBWEZY8ICYF,1.0,15.0,29.0,N,Y,51.724138
5101366,R348JTVRPXDZ6X,1.0,357.0,396.0,N,N,90.151515
5101553,R3PH2RHXBWQZX,2.0,17.0,21.0,N,Y,80.952381

In [6]:
paid_votes = over50_votes[(over50_votes["vine"] == "Y")]
paid_votes

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase, helpful_votes_percentage]
Index: []

In [8]:
unpaid_votes = over50_votes[(over50_votes["vine"] == "N")]
unpaid_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
507,R2SAIBRMYDLUEA,2.0,54.0,65.0,N,Y,83.076923
595,R17GX06B4VIV2W,1.0,33.0,43.0,N,Y,76.744186
894,RFUB2JHK7M5PH,3.0,23.0,23.0,N,N,100.000000
906,R3NTRJCSRIDFTP,1.0,46.0,80.0,N,N,57.500000
916,R1T2ECILNEO28W,4.0,45.0,53.0,N,N,84.905660
...,...,...,...,...,...,...,...
5101225,R3BTSKF083SCTP,5.0,28.0,29.0,N,N,96.551724
5101300,R32WQSO4BXXF3J,4.0,103.0,106.0,N,Y,97.169811
5101358,R1WKBWEZY8ICYF,1.0,15.0,29.0,N,Y,51.724138
5101366,R348JTVRPXDZ6X,1.0,357.0,396.0,N,N,90.151515
5101553,R3PH2RHXBWQZX,2.0,17.0,21.0,N,Y,80.952381

In [9]:
total_paid = paid_votes["review_id"].count()
total_paid

0

In [10]:
total_unpaid = unpaid_votes["review_id"].count()
total_unpaid

65149

In [19]:
fivestar_paid = paid_votes[(paid_votes["star_rating"] == 5)].count()
fivestar_paid

review_id                   0
star_rating                 0
helpful_votes               0
total_votes                 0
vine                        0
verified_purchase           0
helpful_votes_percentage    0
dtype: int64

In [20]:
fivestar_unpaid = unpaid_votes[(unpaid_votes["star_rating"] == 5)].count()
fivestar_unpaid

review_id                   24673
star_rating                 24673
helpful_votes               24673
total_votes                 24673
vine                        24673
verified_purchase           24673
helpful_votes_percentage    24673
dtype: int64

In [17]:
percent_paid_fivestar = (fivestar_paid) / (total_paid) *100
percent_paid_fivestar

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase, helpful_votes_percentage]
Index: []

In [21]:
percent_unpaid_fivestar = (fivestar_unpaid) / (total_unpaid) *100
percent_unpaid_fivestar

review_id                   37.871648
star_rating                 37.871648
helpful_votes               37.871648
total_votes                 37.871648
vine                        37.871648
verified_purchase           37.871648
helpful_votes_percentage    37.871648
dtype: float64